@page "/Product/{barcode}"
@using Project.CSharpFiles
@inject ProtectedLocalStorage BrowserStorage
@inherits SpecificItemCode


<h2>Product details</h2>

<div class="w3" style="width: 28rem;">
    <div class="card-body">
        <img src="@prod.ImageLink" />
        <h5 class="card-title">@prod.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@prod.Name</h6>
        <hr />
        <p>
            price:  <label style="color:darkred">@prod.Price.ToString("Kr.")</label>
        </p>
        <p class="card-text">@prod.Description</p>
    </div>
</div>
<NavLink href="/products"> Back To Products</NavLink>
<button class="btn btn-primary" @onclick="() => { AddItem(); Save();}">Tilfoej til kurv</button>

@code {

    public string CartItem;
    
    public void AddItem()
    {
        CartItem += " " + prod.Barcode;
    }

    public async Task Read()
    {
        var result = await BrowserStorage.GetAsync<string>("CartItems");
        CartItem = result.Success ? result.Value : "";
    }

    public async Task Save()
    {
        await BrowserStorage.SetAsync("CartItems", CartItem);
    }

    protected override Task OnInitializedAsync()
    {
        Read();
        return base.OnInitializedAsync();
    }
}


