@page "/Timer"
@inherits TimerCode


<div class="page">
    <h3>Timer</h3>
    <button @onclick="()=> { ShowMonths(ListSize); }" class="butt">Show KPI</button>
    <button @onclick="APageVisit" class="butt">Visit</button>
    <button @onclick="APurchase" class="butt">Purchase</button>
    <button @onclick="DoSomethingEveryTreeSeconds" class="butt">rune</button>

    <select @bind="ListSize">
        @for (int i = 0; i < Months.Count; i++)
        {
            <option value=@i>Month @i</option>
        }
    </select>
    <a>Showing month @ListSize</a>
    <br />
    <div class="stats">
        <table>
            <tr>
                <td>Month</td>
                @foreach (var item in SubMonths)
                {
                    <th>@item</th>
                }
            </tr>
            <tr>
                <td>Visits</td>
                @foreach (var item in SubVisits)
                {
                    <th>@item</th>
                }
            </tr>
            <tr>
                <td>Purchases</td>
                @foreach (var item in SubPurchases)
                {
                    <th>@item</th>
                }
            </tr>
        </table>
    </div>

    <a>Last checked: @DateNow</a>
    <br />
    <a>KPIS update date: @UpdateDate</a>

</div>
<style>
    .page {
        height: 500px;
    }
    .stats {
        float: left;
        height: fit-content;
        width: fit-content;
        border: 1px solid black;
        border-radius: 3px;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    .butt {
        width: fit-content;
    }

    .kpis_select, .kpis_table, .kpis_dates {
        border: 1px solid black;
        border-radius: 3px;
        width: fit-content;
        height: fit-content;
        float: left;
    }


</style>