@page "/Cart"
@inherits ItemList
@using CSharpFiles
@inject ProtectedLocalStorage BrowserStorage

<div class="page">
    <div class="cart-overview">
        @foreach (var item in Order)
        {
            <div class="item-container">
                <h4>@item.Name x @item.OrderAmount <p class="right">@item.SubTotal,-</p></h4>
                <h6>@item.Colour / @item.Size</h6>
                <button @onclick="() => { item.OrderAmount += ErrorPos(item.OrderAmount, item.Stock); item.CalcPrice(); CalcTotal(); }" class="butt"><i class="fa fa-plus"></i></button>
                <button @onclick="() => { item.OrderAmount -= ErrorNeg(item.OrderAmount, item.Stock); item.CalcPrice(); CalcTotal(); }" class="butt"><i class="fa fa-minus"></i></button>
                <button @onclick="() => { Delete(item.Id, item.Colour_id, item.Size); Order.Remove(item); CalcTotal(); RemoveError(); }" class="butt right delete"><i class="fa fa-times"></i></button>
            </div>
        }
        <div class="order-total">
            <p>Ordre Total:<b class="right"> @Total,-</b></p>
            <b class="Supply_Demand error">Not enough in stock :(</b>
            <b class="Negative_Order error">If you want to remove press X instead</b>
        </div>
    </div>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form @onsubmit="()=> { _newOrder.Dbcall(createOrder); PurchaseCount(); DeleteCoochie();  }">
                    <div class="row">
                        <div class="col-50">
                            <label><i class="fa fa-fw fa-user-circle"></i> Fornavn</label>
                            <input type="text" placeholder="Gurlig" @bind="@_newOrder.Firstname" @oninput="@((e) => { _newOrder.Firstname=(string)e.Value;})" required>
                            <label><i class="fa fa-fw fa-envelope"></i> Email</label>
                            <input type="email" placeholder="gurlig1234@example.com" @bind="@_newOrder.Email" @oninput="@((e) => { _newOrder.Email=(string)e.Value;})" required>
                            <label><i class="fa fa-fw fa-map-marker"></i> Addresse</label>
                            <input type="text" placeholder="Frederikshavnvej 2" @bind="@_newOrder.Adress" @oninput="@((e) => { _newOrder.Adress=(string)e.Value;})" required>
                            <label><i class="fa fa-fw fa-building"></i> By</label>
                            <input type="text" placeholder="København" @bind="@_newOrder.City" @oninput="@((e) => { _newOrder.City=(string)e.Value;})" required>
                            <input type="submit"/>
                        </div>
                        <div class="col-50">
                            <label><i class="fa fa-fw fa-star"></i> Efternavn</label>
                            <input type="text" placeholder="Marghrete .2" @bind="@_newOrder.Lastname" @oninput="@((e) => { _newOrder.Lastname=(string)e.Value;})" required>
                            <label><i class="fa fa-fw fa-phone"></i> Telefonnummer</label>
                            <input type="number" placeholder="12345678" @bind="@_newOrder.Phonenumber" @oninput="@((e) => { _newOrder.Phonenumber=(string)e.Value;})" required>
                            <label><i class="fa fa-fw fa-globe"></i> Postnummer</label>
                            <input type="number" placeholder="1010" @bind="@_newOrder.Zipcode" @oninput="@((e) => { _newOrder.Zipcode=(string)e.Value;})" required>
                            <label><i class="fa fa-fw fa-globe"></i> Land</label>
                            <input type="text" placeholder="Danmark" @bind="@_newOrder.Country" @oninput="@((e) => { _newOrder.Country=(string)e.Value;})" required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@code {
    Order _newOrder = new Order();
    public string ItemsInCart;
    string createOrder = "Create new order";
    DbCall KPItest = new DbCall();
    string kpi = "Product type call";
    public string[] testArray;

    public void PurchaseCount()
    {
        DbCall call = new DbCall();
        foreach (var item in Order)
        {
            call.PurchaseUpdate(item.Id, item.Colour_id, item.OrderAmount);
            Console.WriteLine("Product: " + item.Id + "Color: " + item.Colour_id + "Amount: " + item.OrderAmount);
        }
    }

    public async Task DeleteCoochie()
    {
        await BrowserStorage.DeleteAsync("CartItems");
    }

    // Load items into the cart page from the local storage in the browser
    public async Task Read()
    {
        var result = await BrowserStorage.GetAsync<string>("CartItems");
        ItemsInCart = result.Value;
        if (ItemsInCart != null)
        {
            testArray = Id(ItemsInCart);
            Order = LoadItems(Id(ItemsInCart));
        }
        CalcTotal();
        _newOrder.Items = ItemsInCart;
        StateHasChanged();
    }

    // Remove a items from the cart
    public void Delete(int prodId, int colourId, string size)
    {
        string Dele = " " + prodId + " " + colourId + " " + size;
        string newCart = "";
        foreach (var item in testArray)
        {
            if (item != Dele)
            {
                newCart += "&" + item;
            }
        }
        Save(newCart);
        Read();
    }

    // Save the updated local storage
    public async Task Save(string CartCookie)
    {
        await BrowserStorage.SetAsync("CartItems", CartCookie);
    }

    // Split the local storage string into an array
    public string[] Id(string Cookie)
    {
        var array = Cookie.Split('&');
        array = array.Skip(1).ToArray();
        array = array.Distinct().ToArray();
        return array;
    }

    // Load specific methods on page load
    protected override Task OnInitializedAsync()
    {
        Read();
        Order = new List<Product>();
        Console.WriteLine("refreshed");
        return base.OnInitializedAsync();
    }
}

<style>
    .page {
        height: fit-content;
        overflow: auto;
        margin-bottom: 30px;
    }

    .delete {
        background-color: red;
    }

    .delete:hover {
        box-shadow: 0px 2px 10px 5px red;
    }

    .cart-overview {
        border: 1px solid black;
        border-radius: 3px;
        width: 500px;
        background-color: #efefef;
        float: left;
    }

    .item-container {
        border-bottom: 1px solid;
        padding: 2px;
    }

    .order-total {
        background-color: #bababa;
        height: fit-content;
    }

    .order-total p{
        font-size: 30px;
    }

    .right {
        float: right;
        padding: 0;
        margin: 0;
    }

    .butt right {
        background-color: red;
    }

    .butt lul{
        width: fit-content;
    }

    .cart-overview b {
        font-size: large;
    }

    .error {
        background-color: lightcoral;
    }

    .Supply_Demand {
        display: @SupplyDemand;
    }

    .Negative_Order {
        display: @NegativeOrder;
    }

    .col-25,
    .col-50,
    .col-75 {
      padding: 0 16px;
    }

    .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid black;
        border-radius: 3px;
        margin-left: 50px;
        position: left;
    }

    input[type=text], input[type=email], input[type=number] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    label {
      margin-bottom: 10px;
      display: block;
    }
</style>