@page "/product/{id:int}"
@using Project.CSharpFiles
@inherits SpecificItemCode

<h2>Product details</h2>

<div class="w3" style="width: 28rem;">
    <div class="card-body">
        <img src="@prod.ImageLink" />
        <h5 class="card-title">@prod.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@prod.Name</h6>
        <hr />
        <p>
            price:  <label style="color:darkred">@prod.Price.ToString("Kr.")</label>
        </p>
        <p class="card-text">@prod.Description</p>
    </div>
</div>
<NavLink href="/products"> Back To Products</NavLink>
<button @onclick="() => { AddToCart(prod); }" class="btn btn-primary">Tilføj til Kurv</button>    

