@page "/product/{id:int}"

@inject Product Searchproduct
<h2>Product details</h2>


<div>
    <img src="@prod.ImageLink"/>
    <br/>

    @prod.Name
    <br/>
    @prod.Brand
    <br/>
    @prod.Price
    <br/>
    @prod.Description
    <br/>
    <br/>
</div>

@code {
    public Product prod;

    [Parameter]
    public int Id { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Id > 0)
            prod = GetProduct(Id);
    }

    public IEnumerable<Product> products = new List<Product>
    {
        new Product { ID = 1, Brand = "Hunde", Name = "Husky", Price = 30, Description = "cute dog", ImageLink = "Images/bedøvet vuf.png"},
        new Product { ID = 2, Brand = "Heinz", Name = "Ketchup", Price = 40, Description = "Ketchup med tomat sovs", ImageLink = "Images/Ketchup.png" },
        new Product { ID = 3, Brand = "Burger king", Name = "Burger", Price = 230, Description = "Burger med salat. nam nam", ImageLink = "Images/Burger.png" },
        new Product { ID = 4, Brand = "Yoghurt", Name = "Mayonnaise", Price = 333, Description = "Kdsfsdfa", ImageLink = "Images/Ketchup.png"},
        new Product { ID = 5, Brand = "Bibliotek", Name = "water", Price = 30, Description = "K'efafa", ImageLink = "Images/Ketchup.png"},
        new Product { ID = 6, Brand = "Ressource", Name = "cola", Price = 30, Description = "Kdfdfdsdsdc", ImageLink = "Images/Ketchup.png"},
        new Product { ID = 7, Brand = "KSIOlajidebt", Name = "Faxe kondi", Price = 30, Description = "a", ImageLink = "Images/Ketchup.png"}
    };


    public Product GetProduct(int id)
    {
        foreach (var item in products)
        {
            if (item.ID == id)
                return item;
        }
        return null;
    }
}
