@page "/Kpi"
@inherits KpiCode
@using CSharpFiles

<div class="page">
    <h3>Kpi</h3>
    <div class="item-list">
        <table>
            <tr>
                <th>Product Name</th>
                <th>Show KPI</th>
            </tr>
            @foreach (var type in typeArray)
            {
                <tr>
                        <td>@type</td>
                        <td style="text-align:center"><button class="butt" @onclick="() => { ShowProducts(type); }"><i class="fa fa-times"></i></button></td>
                    </tr>
            }  
            

            @*@foreach (var item in typeArray)
            {
                if (item != null)
                {
                    <tr>
                        <td>@item</td>
                        <td style="text-align:center"><button class="butt" @onclick="ShowProducts(index)"><i class="fa fa-times"></i></button></td>
                    </tr>
                }
            }*@
        </table>
    </div>
    <div class="specific-item">
        <table>
 
            <tr>
                <th>Product Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Size</th>
                <th>Prize</th>
                <th>Stock</th>
                <th>IMG</th>
                <th>Stats</th>
            </tr>
               @foreach (var type in typeArray)
                {
                    if (fillTable == type)
                    {
                        foreach (var prod in ProductArray[Counter])
                        {
                            <tr>
                                <td>@prod[6]</td> @*Product Name*@
                                <td>@prod[7]</td> @*Type*@
                                <td>@prod[4]</td> @*Color*@
                                <th>@prod[2]</th> @*Size*@
                                <th>@prod[8],-</th> @*Price*@
                                <th>@prod[3]</th> @*Stock*@
                                <th>@prod[5]</th> @*Image*@
                                <td style="text-align:center"><button class="butt" @onclick="() => { Counter = 0; ShowKPI(prod); }"><i class="fa fa-times"></i></button></td>
                            </tr>
                        }
                    }
                    Counter++;
                }
        </table>
    </div>
    <div class="stats">
        <table>
            <tr>
                @foreach (var Month in Kpis)
                {
                    <th>@Month</th>
                }
            </tr>
                <tr>
                    @foreach (var stat in Percent)
                    {
                        <th>@stat</th>
                    }
                </tr>
        </table>
    </div>
</div>


@code
{
    int index = 0;
}

<style>
    .page {
        height: 500px;
    }

    .item-list, .specific-item, .stats {
        float: left;
        height: fit-content;
        width: fit-content;
        border: 1px solid black;
        border-radius: 3px;
    }

    .specific-item, .stats{
        margin-left: 50px;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    .specific-item {
        display: none;
        display: @Visible;
    }

</style>