@page "/Kpi"
@inherits KpiCode
@using CSharpFiles

<div class="page">
    <h3>Kpi</h3>
    <div class="outer_item-list">
        <div class="item-list">
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Show KPI</th>
                </tr>
                @foreach (var type in typeArray)
                {
                    <tr>
                        <td>@type</td>
                        <td style="text-align:center"><button class="butt" @onclick="() => ShowProducts(type)"><i class="fa fa-times"></i></button></td>
                    </tr>
                }


                @*@foreach (var item in typeArray)
                {
                    if (item != null)
                    {
                        <tr>
                            <td>@item</td>
                            <td style="text-align:center"><button class="butt" @onclick="ShowProducts(index)"><i class="fa fa-times"></i></button></td>
                        </tr>
                    }
                }*@
            </table>
        </div>
    </div>

    <div class="outer_specific-item">
        <h3>Specifikke Artikler</h3>
        <div class="specific-item">
            <table>

                <tr>
                    <th>Product Name</th>
                    <th>Type</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Prize</th>
                    <th>Stock</th>
                    <th>IMG</th>
                    <th>Stats</th>
                </tr>
                @foreach (var type in typeArray)
                {
                    if (fillTable == type)
                    {
                        foreach (var prod in ProductArray[Counter])
                        {
                            <tr>
                                <td>@prod[6]</td>
                                <td>@prod[7]</td>
                                <td>@prod[4]</td>
                                <th>@prod[2]</th>
                                <th>@prod[8],-</th>
                                <th>@prod[3]</th>
                                <th>@prod[5]</th>
                                <td style="text-align:center"><button class="butt"><i class="fa fa-times"></i></button></td>
                            </tr>
                        }
                    }
                    Counter++;
                }
                <tr>
                    <td>The Buks</td>
                    <td>Bukser</td>
                    <td>Blue</td>
                    <th>XXL</th>
                    <th>1000,-</th>
                    <th>12</th>
                    <th>IMG</th>
                    <td style="text-align:center"><button class="butt"><i class="fa fa-times"></i></button></td>
                </tr>
                <tr>
                    <td>The Buks</td>
                    <td>Bukser</td>
                    <td>Red</td>
                    <th>S</th>
                    <th>1000,-</th>
                    <th>5</th>
                    <th>IMG</th>
                    <td style="text-align:center"><button class="butt" @onclick="StatsPopup"><i class="fa fa-times"></i></button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="outer_stats">
        <h3>Statestik</h3>
        <div class="stats">
            <table>
                <tr>
                    <td></td>
                    @foreach (var Month in Months)
                    {
                        <th>@Month</th>
                    }
                </tr>

                @foreach (var item in Kpis)
                {
                    <tr>
                        <th>@item</th>
                        @foreach (var stat in Percent)
                        {
                            <th>@stat</th>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


@code
{
    int index = 0;
}

<style>
    .page {
        height: 500px;
    }

    .outer_item-list {
        position: relative;
    }
        .item-list{
            width: fit-content;
            height: 450px;
            overflow: auto;
            padding: 20px;
        }

    .outer_specific-item {
        position: relative;
        left: 325px;
        bottom: 500px;
    }
    .specific-item {
        width: fit-content;
        height: 450px;
        overflow: auto;
        padding: 20px;
    }

    .outer_stats {
        position: relative;
        left: 1200px;
        bottom: 1000px;
    }
        .stats {
            height: fit-content;
            width: fit-content;
            border: 1px solid black;
            border-radius: 3px;
            padding: 20px;
        }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    .outer_specific-item {
        display: none;
        display: @Visible;
    }

</style>